main {
    margin: 20px 0px 0px 0px;
}

#zoltar-pic {
    width: inherit;
    height: auto;
}

.display-num-tries {
    background-color: indianred;
    color: yellow;
    font-weight: bold;
    text-align: center;
    padding: 1% 0%;
}

.im-thinking, form {
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1%;
    color: white;
}

.im-thinking {
    /* background-color: mediumseagreen; */
    background-color: steelblue;
}

form {
    background-color: cornflowerblue;
}