main {
    margin: 20px 0px 0px 0px;
}

#zoltar-pic {
    width: inherit;
    height: auto;
}

.display-num-tries {
    background-color: indianred;
    color: yellow;
    font-weight: bold;
    text-align: center;
    padding: 1% 0%;
}